{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ user.name }} {{ user.lastname }}</h1>

    <div class="container emp-profile">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="{{ asset('uploads/brochures/' ~ user.profilePicturePath) }}" alt=""/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <label>User Id</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ user.username }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nombre</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ user.name }} {{ user.lastname }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ user.email }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-secondary" href="{{ path('user_index') }}">Back to the list</a>
                    <a class="btn btn-primary" href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
                    {{ form_start(delete_form) }}
                    <input class="btn btn-danger" type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </form>
    </div>
{% endblock %}
